html, body, main {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  color: #DE9358;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0px;
}

h2 {
  color: #DE9358;
  font-size: 20px;
  padding: 10px 0px;
  margin: 0px;
}

#drawer {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2B303B;
  overflow-x: hidden;
  padding: 0px;
  transition: 0.5s;
}

.list {
  padding-left: 20px;
  margin: 0;
}

.list li {
  cursor: pointer;
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 18px;
  color: #9faebf;
  display: block;
  transition: 0.3s;
}

.list li:hover, .offcanvas li:focus {
  color: #DE9358;
}

#search-location {
  margin: 10px 20px;
}

#error {
  color: white;
  font-size: 20px;
  color: #9faebf;

}

.header {
  background: #1C1F26;
  width: 100%;
  height: 50px;
  z-index: 2;

}

.open {
  color: #DE9358;
  font-size: 30px;
  cursor: pointer;
  padding: 20px;
}

#main {
  position: relative;
  transition: margin-left .5s;
  height: 100%;
  margin-left: 300px;
}

#map {
  height: 100%;
  z-index: 1;
}
